body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper0 {
    width: 1296px;
    height: 688px;
    background-color: gainsboro;
    border: 1px solid dashed;
    padding: 4px 10px 4px 4px;
}
.wrapper {
    width: 1282px;
    height: 680px;
    background-image: url("wildlife/fox-1.jpg");
    background-repeat: no-repeat;
    background-color: lightgray;
    margin: 4px 5px 4px 8px;
    cursor: default;
}
.top {
    height: 75px;
    width: 722px;
    padding-top: 50px;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
.flex-top {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-left: 700px;
    margin-right: 200px;
}
.flex-tm1 {
    width: 50px;
    margin-right: 100px;
    margin-left: 150px;
    font-size: 30px;
    color: white;
}
.a-left {
    height: 60px;
    width: 70px;
    float: left;
    margin-left: -50px;
}
.flex-p2 {
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    margin-left: 40px;
}
.flex-hidden {
    font-size: 11pt;
    text-align: start;
    width: 300px;
    height: 40px;
    background-color: RGBA(255,0,0,0);
    border-color: RGBA(255,0,0,0);  
    margin-top: 15px;
    margin-left: 50px;
}
.flex-nav {
    height: 40px;
    width: 500px;
}
nav {
    background-color: RGBA(255,0,0,0);
    margin: 10px 10px 0px 10px;
}
nav ul{
    margin: 0px;
    padding: 5px 0px 5px 30px;
}
nav ul li {
    display: inline;
    margin-right: 40px;
    padding: 5px 10px 5px 10px;
}
nav li a:link, nav li a:visited {
    color: white;
}
.a-t1 {
    margin-top: 15px;
    font-size: 24px;
    text-decoration: none;
}
.a-img{
    margin-top: 20px;
    margin-left: -100px;
    width: 30px;
    height: 30px;
}
.flex-si-sub {
    border-color: #CD6326;
    border-style: double;
    background-color: RGBA(255,0,0,0);
    color: white;
    width: 100px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    margin-top: 15px;
}
.content {
    padding-top: 160px;
    margin-left: 100px;
    display: -webkit-flex;
    display: flex;
    font-size: 24px;
    color: white;
}
.flex-content {
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    color: white;
}
.flex-m1 {
    width: 150px;
    height: 180px;
    margin-right: 100px;
    font-size: 30px;
}
.flex-column{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}
.Servival {
    font-size: 48px;
    color: #CD6326;
    letter-spacing: 0.1em;
    margin-top: 50px;
    margin-left: -250px;
}
.flex-t1 {
    font-size: 18px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-left: -250px;
}
.flex-Donate {
    background-color: #CD6326;
    margin-top: 50px;
    margin-left: -250px;
    width: 160px;
    height: 60px;
}
.flex-p1{
    font-size: 24px;
    text-align: center;
    margin-top: 15px;
}
